[submodule "agent-template/lib/forge-std"]
	path = agent-template/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test-agent/nft-test/lib/forge-std"]
	path = test-agent/nft-test/lib/forge-std
